<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.2.6900.0" authCookieName=".SFAUTH-TorrentTracker" rolesCookieName=".SFROLES-TorrentTracker" validationKey="F4FCA9E8A5C165B87059DA62A7B06B706CFB7DFA911B54BDD21B2BCA1CAB078657BBE7EC8EDD12E9A3085E3EF4C1EAACF11349C0B940F6A1D3E32760858C433F" decryptionKey="E0341FD471E139B48EBAA8C5302D6C252FCFB74F94FEE0B2DF0B260975BEEAD4" loggingCookieName=".SFLOG-TorrentTracker">
	<securityTokenIssuers>
		<add key="F65C8F042EF43DE8833EEE192211E3E2E5487C3B55DE456373B59233DBF1E216" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="F65C8F042EF43DE8833EEE192211E3E2E5487C3B55DE456373B59233DBF1E216" realm="http://localhost" />
	</relyingParties>
</securityConfig>